$black: #040404;
$grey: #363636;
$gold: #9f6b08;
$light-gold: #f9ce5c;

%impact {
  font-family: "Impact";
  font-weight: 400;
}
%robotocondensed-300 {
  font-family: "RobotoCondensed-Light";
  font-weight: 300;
}
%robotocondensed-400 {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
}
%robotocondensed-700 {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
}
